<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Laundry Management System - Dashboard</title>
  <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
  <div class="container">
    <h1 class="dashboard-title">Dashboard</h1>

    <!-- Menu Button -->
    <div class="menu-button">
      <div class="menu-bar"></div>
      <div class="menu-bar"></div>
      <div class="menu-bar"></div>
    </div>

    <!-- Dashboard Menu -->
    <div class="dashboard-menu">
      <div class="dashboard-menu-item"><a href='/laundryRequest'>Laundry Requests</a></div>
      <div class="dashboard-menu-item"><a href='/request_status'>Request Status</a></div>
      <div class="dashboard-menu-item"><a href='/reset_p'>Account Setting</a></div>
      <div class="dashboard-menu-item"><a href='/logout'>Logout</a></div>
    </div>

    <% if (typeof message !== 'undefined') { %>
    <% } %>



    <!-- Wecoming the username -->
    <div class="username-order">
        <h1>Welcome <%= fName %>!</h1>
    <!-- Dashboard Content -->
    <div class="dashboard-content">
      <!-- New Request -->
      <div class="dashboard-card">
        <h2 class="dashboard-card-title"><%= orderData.newRequest%> New Request</h2>
        <p class="dashboard-card-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pretium sem non elementum auctor.</p>
      </div>

      <!-- Accepted -->
      <div class="dashboard-card">
        <h2 class="dashboard-card-title"><%= orderData.accepted%> Accepted</h2>
        <p class="dashboard-card-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pretium sem non elementum auctor.</p>
      </div>

      <!-- In Process -->
      <div class="dashboard-card">
        <h2 class="dashboard-card-title"><%= orderData.inProcess%> In Process</h2>
        <p class="dashboard-card-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pretium sem non elementum auctor.</p>
      </div>

      <!-- Finish -->
      <div class="dashboard-card">
        <h2 class="dashboard-card-title"><%=orderData.finished %> Finished</h2>
        <p class="dashboard-card-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pretium sem non elementum auctor.</p>
      </div>
    </div>
  </div>
  <script src="/js/dashboard.js"></script>


<div class="bottom-paragraph">
  <p>
    We are a highly acclaimed online laundry service provider committed to delivering exceptional service and making your life easier. With a focus on quality, reliability, and customer satisfaction, our experienced team ensures that your garments receive the utmost care and attention. Our convenient online platform allows you to schedule pickups and deliveries at your preferred time and location, bringing convenience right to your doorstep. With tailored services, efficient processes, and dedicated customer support, we strive to exceed your expectations and provide a seamless laundry care experience. Trust us to handle your laundry needs and let us make a difference in your daily life.
  </p>
</div>

</body>
</html>
